<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录模块</title>
</head>

<body>
  <form action="/doLogin" method="post">
    用户名: <input type="text" name="username" placeholder="请输入用户名">
    <br>
    密码: <input type="password" name="password" placeholder="请输入密码">
    <br>
    <input type="submit" value="提交登录">
  </form>
</body>

</html>