<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title  %> </title>
  <%- include('common/head'); -%>
</head>
测试

<body>

</body>
<%- include('common/footer'); -%>

</html>