<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/css/reset.css">
</head>

<body>
  <div>
    用户名:
    <input type="text" id="username" placeholder="请输入用户名">
    <br>
    密码:
    <input type="password" id="password" placeholder="请输入密码">
    <br>
    邮箱:
    <input type="email" id="email" placeholder="请输入邮箱">
    <br>
    <input type="submit" value="提交登录" onclick=" check()">
  </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  let url = 'http://localhost:3000/api/v1/login'
  function check() {
    let data = {
      name: document.getElementById('username').value,
      password: document.getElementById('password').value,
      email: document.getElementById('email').value
    }
    console.log(data);
    axios.post(url, data)
      .then(function (response) {
        console.log(response);
      })
      .catch(function (error) {
        console.log(error);
      });
  }
</script>

</html>