<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>

<body>
  <h1>EJS模板引擎</h1>
  <h2>这是一个登录页面</h2>
  <h3><%=title%></h3>
</body>

</html>